h1{
   font-size:40px;
   color: red; 
   font-family: 'Courier New', Courier, monospace;
   
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black
}

.logo{
   width:200px;
   
}
.nav-items{
    padding: 0px 20px ;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}

.nav-items > ul >li{
    padding: 10px;
    margin: 10px;
    font-size: 25px;
}

.res-card {
    margin:5px;
    padding:5px;
    width:200px;
    height:300px;
}
.res-container{
  display: flex;
  flex-wrap:wrap;
}

.res-card:hover {
    cursor:pointer;
    border: 1px solid black;
 }

.res-logo {
    padding: 5px;
    width:190px;
    height:120px;
}

